body {
    background-color: rgb(115,142,25);
}

body > nav {
    background-color: rgb(178,118,57);
    font-size: 1.5em;
}

body > nav a {
    text-decoration: none;
    color: rgb(80,60,30);
}

div#main > div:not(:target), section:not(:target) {
    display: none
}

a.active_tab {
    background-color: yellow
}

p:nth-child(even) {
    background-color: rgb(147,175,62)
}

p:nth-child(odd) {
    background-color: rgb(115,142,25)
}
